<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/head :: head(viewName='Playing Field Fragment')}">

<body>
<div th:fragment="playing-area">
    <div class="playing-area">
        <div class="players-avatars">
            <div th:replace="~{/fragments/images :: avatar-dog}"></div>
            <div>
                <h2 class="vs">VS</h2>
            </div>
            <div th:replace="~{/fragments/images :: avatar-cat}"></div>
        </div>
        <div class="shuffle-dices-container">
            <div class="random-dice-container" th:each="randomDice : ${radomDices}">
                <img th:id="${randomDice.id}" class="dice-red" th:src="${randomDice.dice.path}" th:onclick="toggleCheckMark(this.getAttribute('id'))" >
                <img th:class="${'icons checkmark-hidden ' + randomDice.checkMarkSelected}" th:id="${'checkmark-' + randomDice.id}" th:src="@{/media/checkmark.png}">
            </div>
        </div>

        <div class="buttons-area">
            <a th:href="@{#}">
                <button id= "commit-btn" class="btn commit-btn .commit-btn-disabled">
                    <img th:replace="~{/fragments/images :: correct-sign}">
                </button>

            </a>
            <a th:href="@{/randomShuffel}" th:action="@{/randomShuffel}" th:object="${selectedDices}" methods="post">
                <button id="shuffel-btn" class="btn shuffel-btn" value="3">
                    <img th:replace="~{/fragments/images :: play-dice}">
                </button>
            </a>
        </div>
    </div>
</div>
<div th:fragment="playing-dice">
    <a>
        <div th:replace="~{/fragments/images :: dice-red-one-eye}"></div>
    </a>
</div>
</body>
</html>