<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/head :: head(viewName='Images Fragment')}">
    <title></title>
<body>

<img th:fragment="dice-one-eye" class="dice-yellow" th:src="@{/media/dice/one.png}" src="/media/dice/one.png"
     alt="Dice with one Eye"/>
<img th:fragment="dice-two-eyes" class="dice-yellow" th:src="@{/media/dice/two.png}" src="/media/dice/two.png"
     alt="Dice with two Eyes"/>
<img th:fragment="dice-three-eyes" class="dice-yellow" th:src="@{/media/dice/three.png}" src="/media/dice/three.png"
     alt="Dice three one Eyes"/>
<img th:fragment="dice-four-eyes" class="dice-yellow" th:src="@{/media/dice/four.png}" src="/media/dice/four.png"
     alt="Dice with four Eyes"/>
<img th:fragment="dice-five-eyes" class="dice-yellow" th:src="@{/media/dice/five.png}" src="/media/dice/five.png"
     alt="Dice with five Eyes"/>
<img th:fragment="dice-six-eyes" class="dice-yellow" th:src="@{/media/dice/six.png}" src="/media/dice/six.png"
     alt="Dice with six Eyes"/>
<img th:fragment="dice-red-one-eye" class="dice-red-one dice-red" th:src="@{/media/dice/one-red.png}" src="/media/dice/one-red.png"
     alt="Dice with one Eye"/>
<img th:fragment="dice-red-two-eyes" class="dice-red" th:src="@{/media/dice/two-red.png}" src="/media/dice/two-red.png"
     alt="Dice with two Eyes"/>
<img th:fragment="dice-red-three-eyes" class="dice-red" th:src="@{/media/dice/three-red.png}" src="/media/dice/three-red.png"
     alt="Dice three one Eyes"/>
<img th:fragment="dice-red-four-eyes" class="dice-red" th:src="@{/media/dice/four-red.png}" src="/media/dice/four-red.png"
     alt="Dice with four Eyes"/>
<img th:fragment="dice-red-five-eyes" class="dice-red" th:src="@{/media/dice/five-red.png}" src="/media/dice/five-red.png"
     alt="Dice with five Eyes"/>
<img th:fragment="dice-red-six-eyes" class="dice-red" th:src="@{/media/dice/six-red.png}" src="/media/dice/six-red.png"
     alt="Dice with six Eyes"/>
<img th:fragment="right-arrow" class="icons arrow" th:src="@{/media/right-arrow.png}" src="/media/right-arrow.png"
     alt="Right arrow"/>
<img th:fragment="left-arrow" class="icons arrow" th:src="@{/media/left-arrow.png}" src="/media/left-arrow.png"
     alt="Left arrow"/>
<img th:fragment="correct-sign" class="icons correct-sign" th:src="@{/media/correct-sign.png}" src="/media/correct-sign.png"
     alt="Left arrow"/>
<img th:fragment="profile-icon" class="profile-icon" th:src="@{/media/profile-icon.png}"
     src="/media/profile-icon.png" alt="Profile Icon"/>
<img th:fragment="kniffel-img" class="yahtzee-rules" src="/media/kniffel.png" th:src="@{/media/kniffel.png}" alt="Yahtzee Picture"/>
<img th:fragment="yahtzee-img" class="yahtzee-img" src="/media/yahtzee.png" th:src="@{/media/yahtzee.png}" alt="Yahtzee Picture"/>
<img th:fragment="yahtzee-rules" class="yahtzee-rules" src="/media/yahtzee-rules.png" th:src="@{/media/yahtzee-rules.png}" alt="yahtzee-rules"/>
<img th:fragment="yahtzee-rules-lower" class="yahtzee-rules" src="/media/yahtzee-rules-lower.png" th:src="@{/media/yahtzee-rules-lower.png}" alt="yahtzee-rules-lower"/>
<img th:fragment="yahtzee-rules-upper" class="yahtzee-rules" src="/media/yahtzee-rules-upper.png" th:src="@{/media/yahtzee-rules-upper.png}" alt="yahtzee-rules-upper"/>
<img th:fragment="logo" class="logo-img" src="/media/logo.png" th:src="@{/media/logo.png}" alt="logo"/>
<img th:fragment="play-dice" class="logo-img" src="/media/play-dice-1.png" th:src="@{/media/play-dice-1.png}" alt="play-dice.png"/>

<img th:fragment="points-coin" class="coin avatar" src="/media/points.png" th:src="@{/media/points.png}" alt="coin"/>

<img th:fragment="result" class="profile-icon" src="/media/result.png" th:src="@{/media/result.png}" alt="result overview"/>
<img th:fragment="avatar-bear" class="avatar" src="/media/avatars/bear.png" th:src="@{/media/avatars/bear.png}" alt="Avatar bear"/>
<img th:fragment="avatar-cat" class="avatar" src="/media/avatars/cat.png" th:src="@{/media/avatars/cat.png}" alt="Avatar cat"/>
<img th:fragment="avatar-chicken" class="avatar" src="/media/avatars/chicken.png" th:src="@{/media/avatars/chicken.png}" alt="Avatar chicken"/>
<img th:fragment="avatar-dog" class="avatar" src="/media/avatars/dog.png" th:src="@{/media/avatars/dog.png}" alt="Avatar dog"/>
<img th:fragment="avatar-giraffe" class="avatar" src="/media/avatars/giraffe.png" th:src="@{/media/avatars/giraffe.png}" alt="Avatar giraffe"/>
<img th:fragment="avatar-meerkat" class="avatar" src="/media/avatars/meerkat.png" th:src="@{/media/avatars/meerkat.png}" alt="Avatar meer kat"/>
<img th:fragment="avatar-rabbit" class="avatar" src="/media/avatars/rabbit.png" th:src="@{/media/avatars/rabbit.png}" alt="Avatar rabbit"/>


</body>
</html>