<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/head :: head(viewName='Score Fragment')}">
    <title></title>
<body>
<div th:fragment="score-upper-section" class="upper-section">
    <table class="table upper-table">
        <tbody>
        <tr th:each="tableRow : ${upperSection}">
            <td hidden="hidden" th:text="${tableRow.id}"></td>
            <td class="yellow-dice-icon-container">
                <img th:each="diceIcon : ${tableRow.diceIcons}" class="dice-yellow" th:src="${diceIcon}" alt="dice-yellow" src="">
            </td>
            <td th:text="${tableRow.label}">
            </td>
            <td th:id="${'upper-score-cell-' + tableRow.id}" class="points-cell" th:text="${tableRow.score}"></td>
            <td th:id="${'upper-predict-cell-' + tableRow.id}" class="points-cell" th:text="${tableRow.predictedScore}"></td>
        </tr>
        <tr id="total-score">
            <td>Gesamt</td>
            <td>
                <div th:replace="~{/fragments/images :: right-arrow}"></div>
            </td>
            <td id="upper-score-cell-7" colspan="2">0</td>
        </tr>
        <tr id="bonus-upper-section">
            <td>Bonus bei 63 oder mehr</td>
            <td>plus 35</td>
            <td id="upper-score-cell-8" colspan="2">0</td>
        </tr>
        <tr id="total-upper-section-with-bonus">
            <td>Gesamt oberer Teil</td>
            <td>
                <div th:replace="~{/fragments/images :: right-arrow}"></div>
            </td>
            <td id="upper-score-cell-10" colspan="2">0</td>
        </tr>
        </tbody>
    </table>
</div>
<div th:fragment="score-lower-section" class="lower-section">
    <table class="table lower-table">
        <tbody>
        <tr th:each="tableRow : ${lowerSection}">
            <td th:id="${'lower-predict-cell-' + tableRow.id}" class="points-cell" th:text="${tableRow.predictedScore}"></td>
            <td th:id="${'lower-score-cell-' + tableRow.id}" class="points-cell" th:text="${tableRow.score}"></td>
            <td th:text="${tableRow.label}"></td>
            <td class="yellow-dice-icon-container">
                <img th:each="diceIcon : ${tableRow.diceIcons}" class="dice-yellow" th:src="${diceIcon}" alt="dice-yellow" src="">
            </td>
            <td hidden="hidden" th:text="${tableRow.id}"></td>
        </tr>
        <tr>
            <td colspan="2">0</td>
            <td>
                <div th:replace="~{/fragments/images :: left-arrow}"></div>
            </td>
            <td>Gesamt unterer Teil</td>
        </tr>
        <tr>
            <td colspan="2">0</td>
            <td>
                <div th:replace="~{/fragments/images :: left-arrow}"></div>
            </td>
            <td>Gesamt oberer Teil</td>
        </tr>
        <tr>
            <td colspan="2">0</td>
            <td>
                <div th:replace="~{/fragments/images :: left-arrow}"></div>
            </td>
            <td>Ergebnis</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>